# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Node
node_modules/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.csv.intermediate

# Docker
Dockerfile
.dockerignore

# Misc
.DS_Store
*.log 